.draftmaster-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.captain-management ul {
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  vertical-align:middle
}

.captain-item {
  margin-bottom: 15px; /* Adds spacing between items */
  
}

.captain-info {
  font-weight: bold; /* Makes captain info stand out */
  margin-right: 10px;
  
}

.update-budget-button {
  margin: auto; /* Adds space between the inputs and the button */
  padding: 5px 10px;
  background-color: #0047ab;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  vertical-align:middle
}

.update-budget-button:hover {
  background-color: #003580; /* Changes color on hover */
}


.player-pool {
  margin-top: 20px;
}

.player-pool h2 {
  margin-bottom: 15px;
}

.player-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.player-info {
  font-weight: bold;
  flex: 1; /* Take up more space for player info */
  text-align: justify;
}

.price-edit input,
.assign-controls select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 120px; /* Ensures consistent width */
}

.price-edit button,
.assign-controls button,
.remove-button {
  padding: 8px 12px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
}

.price-edit button {
  background-color: #4caf50;
  color: white;
}

.price-edit button:hover {
  background-color: #45a049;
}

.assign-controls button {
  background-color: #4caf50;
  color: white;
}

.assign-controls button:hover {
  background-color: #45a049;
}

.remove-button {
  background-color: #dc3545;
  color: white;
}

.remove-button:hover {
  background-color: #c82333;
}
